<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>msh</string>
		<key>creation_date</key>
		<date>2018-07-03T08:54:00Z</date>
		<key>munki_version</key>
		<string>3.3.1.3537</string>
		<key>os_version</key>
		<string>10.10.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		
	<string>new</string><string>testing</string><string>production</string></array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>VLC is a free and open source cross-platform multimedia player and framework that plays most multimedia files as well as DVD, Audio CD, VCD, and various streaming protocols.</string>
	<key>developer</key>
	<string>VideoLAN</string>
	<key>display_name</key>
	<string>VLC Media Player</string>
	<key>installer_item_hash</key>
	<string>140990d6ece0f60a10701bdb87aa86cc17a51d2dd875fbd63d84fe40cca17c11</string>
	<key>installer_item_location</key>
	<string>apps/videolan/VLC-3.0.3.dmg</string>
	<key>installer_item_size</key>
	<integer>46810</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.videolan.vlc</string>
			<key>CFBundleName</key>
			<string>VLC media player</string>
			<key>CFBundleShortVersionString</key>
			<string>3.0.3</string>
			<key>CFBundleVersion</key>
			<string>3.0.3</string>
			<key>minosversion</key>
			<string>10.7.0</string>
			<key>path</key>
			<string>/Applications/VLC.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>VLC.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>VLC</string>
	<key>notes</key>
	<string>AutoPkgr</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0.3</string>
</dict>
</plist>
